<footer>
  <div class="container">
      
      <div class="row">
        
        <div class="col-md-2">
          <span class=" text-white" ">TOUT DROITS RÉSERVÉS &copy;</span>
        </div>
      
        <div class="col-md-6 offset-8">
          
          <ul class="list-inline">
              <li class="list-inline-item"><%=image_tag("Footer/ETS.png", alt: "ets") %></li>
              <li class="list-inline-item"><%=image_tag("Footer/cedille.png", alt: "cedille") %></li>
              <li class="list-inline-item"><%=image_tag("Footer/hackqc.png", alt: "hackqc") %></li>
              <li class="list-inline-item"><%=image_tag("Footer/montreal.png", alt: "montreal") %></li>
          </ul>  

        </div>
        
    <!-- /.row -->
    </div>

   <!-- /.container -->
  </div>

</footer>   