<script type="text/javascript">
  var locations = [
["1",45.6653806815436,-73.4646540034421,"blue","#e3ff00"],
["2",45.6827137586788,-73.5312939846466,"yellow","#0051ff"],
["3",45.6942020102478,-73.5217279834598,"yellow","#0051ff"],
["4",45.6739282855525,-73.5408183772808,"red","#FF0033"],
["5",45.5204722827374,-73.5262078808267,"red","#e3ff00"],
["6",45.5174410472803,-73.528595047527,"blue","#e3ff00"],
["7",45.5078333701315,-73.528149687734,"blue","#e3ff00"],
["8",45.5029084877666,-73.5240042308023,"yellow","#FF0033"],
["9",45.5223260503241,-73.5390915922844,"blue","#e3ff00"],
["10",45.5223260503241,-73.5390915922844,"yellow","#0051ff"],
["11",45.5223260503241,-73.5390915922844,"red","#e3ff00"],
["12",45.5223260503241,-73.5390915922844,"blue","#FF0033"],
["13",45.5223260503241,-73.5390915922844,"yellow","#FF0033"],
["14",45.6713753198126,-73.5507192572704,"yellow","#0051ff"],
["15",45.6645825624067,-73.5605897644218,"blue","#0051ff"],
["16",45.6645825624067,-73.5605897644218,"red","#e3ff00"],
["17",45.6645825624067,-73.5605897644218,"blue","#e3ff00"],
["18",45.6536952366673,-73.5835181183469,"blue","#0051ff"],
["19",45.5118974935891,-73.7545436720545,"yellow","#0051ff"],
["20",45.6583648949071,-73.5752923782975,"blue","#0051ff"],
["21",45.6583626434178,-73.5752953266139,"yellow","#0051ff"],
["22",45.6536282553372,-73.5834425736506,"blue","#e3ff00"],
["23",45.6441874203693,-73.5982810544546,"yellow","#0051ff"],
["24",45.6373671418393,-73.6075624883131,"red","#e3ff00"],
["25",45.6373671418393,-73.6075624883131,"red","#e3ff00"],
["26",45.636423801295,-73.6085742634312,"red","#0051ff"],
["27",45.613542608717,-73.5999230493006,"blue","#e3ff00"],
["28",45.6264226124973,-73.6248024365849,"red","#FF0033"],
["29",45.6264226124973,-73.6248024365849,"red","#0051ff"],
["30",45.6239442960817,-73.6291135066657,"blue","#e3ff00"],
["31",45.6199158303584,-73.6332257372849,"blue","#FF0033"],
["32",45.6199158303584,-73.6332257372849,"yellow","#0051ff"],
["33",45.6167313984095,-73.6354042851996,"blue","#FF0033"],
["34",45.6139291091707,-73.6367333111471,"red","#FF0033"],
["35",45.6117325653659,-73.6379883023324,"blue","#FF0033"],
["36",45.616788666175,-73.6353714694581,"yellow","#0051ff"],
["37",45.5950361591248,-73.6481376309899,"yellow","#FF0033"],
["38",45.5910682732204,-73.6513643947496,"yellow","#e3ff00"],
["39",45.5793552728127,-73.6592425423213,"yellow","#0051ff"],
["40",45.5793552728127,-73.6592425423213,"yellow","#FF0033"],
["41",45.5761770456683,-73.6604167257454,"red","#e3ff00"],
["42",45.5708140797228,-73.6624315092284,"red","#e3ff00"],
["43",45.5553544700881,-73.6742298885238,"yellow","#e3ff00"],
["44",45.5476057553905,-73.6919474022914,"yellow","#FF0033"],
["45",45.5417015873819,-73.7097957292012,"red","#FF0033"],
["46",45.541666908979,-73.7098635964445,"red","#e3ff00"],
["47",45.5376927852086,-73.7137900106765,"yellow","#FF0033"],
["48",45.5377207420386,-73.7137569531746,"red","#0051ff"],
["50",45.5376909824308,-73.7137916684185,"blue","#e3ff00"],
["51",45.5377133655786,-73.7137557728281,"yellow","#0051ff"],
["52",45.5653527338834,-73.6634972479334,"yellow","#FF0033"],
["53",45.5548013156888,-73.6748358047897,"blue","#0051ff"],
["54",45.5521561938143,-73.6769762222008,"red","#0051ff"],
["55",45.5495973139504,-73.6820832251513,"yellow","#e3ff00"],
["56",45.5496156578794,-73.6820347453996,"blue","#FF0033"],
["57",45.541666908979,-73.7098635964445,"red","#FF0033"],
["58",45.5118974935891,-73.7545436720545,"red","#FF0033"],
["59",45.5070592852918,-73.7591975471947,"yellow","#0051ff"],
["60",45.5095669109522,-73.7831758080819,"blue","#FF0033"],
["61",45.5097534672873,-73.7826230987575,"yellow","#FF0033"],
["62",45.5097534672873,-73.7826230987575,"yellow","#e3ff00"],
["63",45.5097534672873,-73.7826230987575,"blue","#e3ff00"],
["64",45.5097534672873,-73.7826230987575,"blue","#0051ff"],
["65",45.5156329879445,-73.8132755014038,"blue","#FF0033"],
["66",45.5156329879445,-73.8132755014038,"yellow","#e3ff00"],
["67",45.5129082714788,-73.8488259260633,"yellow","#e3ff00"],
["68",45.5166803390219,-73.8268196286409,"red","#0051ff"],
["69",45.5129082714788,-73.8488259260633,"blue","#e3ff00"],
["70",45.4878088789072,-73.8633052621297,"yellow","#FF0033"],
["71",45.5035060696381,-73.8620760012134,"red","#0051ff"],
["72",45.4791738633407,-73.8746706016104,"blue","#0051ff"],
["73",45.4870785135434,-73.86689653532,"blue","#FF0033"],
["74",45.4669939854741,-73.8936103451308,"red","#e3ff00"],
["75",45.4083573661028,-73.9572464221934,"yellow","#e3ff00"],
["76",45.608995186739,-73.6399262225254,"yellow","#e3ff00"],
["77",45.576523734148,-73.661514141332,"blue","#e3ff00"],
["78",45.5459062734461,-73.7021495016805,"blue","#0051ff"],
["79",45.5452949279756,-73.7026554580828,"red","#FF0033"],
["80",45.4858357054069,-73.8690848394043,"yellow","#FF0033"],
["81",45.4727138349402,-73.877628639521,"blue","#FF0033"],
["82",45.4726410982676,-73.8782085492568,"blue","#FF0033"],
["83",45.4024131354361,-73.9464959226715,"blue","#0051ff"],
["84",45.4022454262252,-73.9460289972006,"red","#0051ff"],
["85",45.6820786236215,-73.4897191146864,"blue","#FF0033"],
["86",45.6588650819734,-73.4889208504608,"red","#0051ff"],
["87",45.6691737711265,-73.4912124446509,"yellow","#0051ff"],
["88",45.6703803243272,-73.4910713315822,"blue","#0051ff"],
["89",45.6711980775102,-73.4910708165109,"yellow","#FF0033"],
["90",45.6726804085937,-73.4907404605326,"yellow","#e3ff00"],
["91",45.6820786236215,-73.4897191146864,"yellow","#e3ff00"],
["92",45.688457471002,-73.4853605974936,"blue","#e3ff00"],
["93",45.6973535035412,-73.4796840546041,"blue","#0051ff"],
["94",45.6989659951695,-73.4799457643984,"red","#0051ff"],
["95",45.6498598865326,-73.4865379242573,"red","#e3ff00"],
["96",45.6499299758872,-73.4864819688394,"blue","#FF0033"],
["97",45.6395517008487,-73.4871393132623,"blue","#FF0033"],
["98",45.6301899762762,-73.4939780637115,"yellow","#e3ff00"],
["99",45.6259606522636,-73.4968462010833,"red","#e3ff00"],
["100",45.6109083052319,-73.5069565791895,"blue","#FF0033"],
["101",45.6109083052319,-73.5069565791895,"red","#e3ff00"],
["102",45.6014149546458,-73.502646846061,"yellow","#0051ff"],
["103",45.5986499031307,-73.509089818655,"yellow","#e3ff00"],
["104",45.5840967072594,-73.5062752276393,"yellow","#FF0033"],
["105",45.5690770984901,-73.5174008899587,"red","#e3ff00"],
["106",45.5639868823771,-73.5198587838683,"blue","#0051ff"],
["107",45.5624587360008,-73.521135534143,"yellow","#0051ff"],
["108",45.5540459983047,-73.5230332341237,"blue","#FF0033"],
["109",45.5479736827068,-73.5280671345287,"red","#FF0033"],
["110",45.5407874883955,-73.5349543745453,"yellow","#e3ff00"],
["111",45.5380709879463,-73.5377255052149,"red","#0051ff"],
["112",45.525544550553,-73.5432169784026,"yellow","#FF0033"],
["113",45.525544550553,-73.5432169784026,"yellow","#FF0033"],
["114",45.5194803873192,-73.5447537454147,"yellow","#0051ff"],
["115",45.5000009566767,-73.5523988111171,"yellow","#0051ff"],
["116",45.4916346607152,-73.5495643527454,"blue","#e3ff00"],
["117",45.4711692775517,-73.559367856796,"yellow","#0051ff"],
["118",45.4711692775517,-73.559367856796,"blue","#e3ff00"],
["119",45.4359968749383,-73.7093856591804,"blue","#e3ff00"],
["120",45.4359968749383,-73.7093856591804,"red","#0051ff"],
["121",45.4373961335875,-73.6531427533496,"yellow","#0051ff"],
["122",45.4696629288373,-73.5563534431022,"yellow","#FF0033"],
["123",45.4616933160895,-73.5569192644934,"red","#0051ff"],
["124",45.4585917885948,-73.5602814216596,"blue","#0051ff"],
["125",45.4500299062245,-73.5665702309477,"red","#FF0033"],
["126",45.4424940313537,-73.5749534423804,"blue","#e3ff00"],
["127",45.4424940313537,-73.5749534423804,"blue","#0051ff"],
["128",45.4479486380386,-73.5687002969263,"yellow","#e3ff00"],
["129",45.4322623763532,-73.5876671516922,"red","#FF0033"],
["130",45.4341195823937,-73.5855344552147,"blue","#FF0033"],
["131",45.4145443541486,-73.6290682136038,"blue","#e3ff00"],
["132",45.414746127964,-73.6303134971214,"yellow","#0051ff"],
["133",45.419219950603,-73.6485886095848,"red","#FF0033"],
["134",45.4195953028221,-73.648917086326,"blue","#0051ff"],
["135",45.4237739855284,-73.6573580090809,"red","#e3ff00"],
["136",45.4281143041047,-73.6654135569842,"yellow","#0051ff"],
["137",45.4369874981669,-73.7279204940025,"yellow","#e3ff00"],
["138",45.4405565150568,-73.7710856384275,"yellow","#FF0033"],
["139",45.4476915683232,-73.7850808739822,"blue","#e3ff00"],
["140",45.4476915683232,-73.7850808739822,"red","#e3ff00"],
["141",45.4476915683232,-73.7850808739822,"red","#FF0033"],
["142",45.4292577834165,-73.8212945314538,"yellow","#0051ff"],
["143",45.431867682303,-73.8182873995221,"yellow","#e3ff00"],
["144",45.4297926270275,-73.8454166099615,"yellow","#FF0033"],
["145",45.4282975489121,-73.8499297003533,"red","#FF0033"],
["146",45.4153120908585,-73.8845495508252,"yellow","#0051ff"],
["147",45.4146923838702,-73.8876834027278,"blue","#FF0033"],
["148",45.4146923838702,-73.8876834027278,"yellow","#0051ff"],
["149",45.4154397764617,-73.8839623033296,"red","#FF0033"],
["150",45.4259599782438,-73.8905764043247,"red","#0051ff"],
["151",45.4212023228433,-73.869126808962,"blue","#e3ff00"],
["152",45.6980396591723,-73.4966935816307,"blue","#0051ff"],
["153",45.6980396591723,-73.4966935816307,"blue","#e3ff00"],
["154",45.7004911983981,-73.4893511699193,"blue","#FF0033"],
["155",45.6572014572807,-73.4885133896309,"red","#0051ff"],
["156",45.4897238676333,-73.5403481312554,"yellow","#e3ff00"],
["157",45.4496348882409,-73.5668496183518,"red","#FF0033"],
["158",45.4496348882409,-73.5668496183518,"red","#e3ff00"],
["159",45.4916445406445,-73.7703273154061,"yellow","#0051ff"],
["160",45.6292752609957,-73.6211801929942,"blue","#0051ff"],
["161",45.4390110549523,-73.7581883469912,"blue","#FF0033"],
["163",45.4158148508797,-73.8823026266441,"red","#FF0033"]];

var map = L.map('map').setView([45.545322, -73.608923], 10);
        mapLink = 
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            "https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png", {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
            }).addTo(map);

    for (var i = 0; i < locations.length; i++) {


      circle = new L.circle([locations[i][1],locations[i][2]],{
        color: locations[i][3],
        fillColor: locations[i][4],
        fillOpacity: 0.5,
        radius: 500
      }).addTo(map);
    }
    

    

  </script>
