<div class="container-fluid p-0">
        
  <div class="row no-gutters popup-gallery">
    
    <div class="col-lg-4 col-md-4 text-center">
      <a class="portfolio-box">
        
        <%=  image_tag("ville 1.png", alt: "ville 1", class: "img-fluid") %>
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
           <div class="project-category text-faded">
                    OTTAWA
            </div>
            <div class="project-name">
              Coming Soon
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-4 col-md-4 text-center">
      <a class="portfolio-box">
        <%= image_tag("ville 2.png", alt: "ville 2", class: "img-fluid") %>        
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">
                    TORONTO
            </div>
            <div class="project-name">
              Coming Soon
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-4 col-md-4 text-center">
      <a class="portfolio-box">
        <%= image_tag("ville3.png", alt: "ville 3", class: "img-fluid") %>
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
           <div class="project-category text-faded">
                    VANCOUVER
            </div>
            <div class="project-name">
              Coming Soon
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
      
  