<section id="propo" class="text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 mx-auto">
            <h1 id="propos_text">ABOUT</h1>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">    
            <div class="col-lg-4 col-md-4 text-center">
              
              <div class="service-box mt-5 mx-auto">
                <%=  image_tag("icone1.png", alt: "Icone 1", class: "img-fluid") %>
                <h3 class="sous_titre">TECHNOLOGIE</h3>
                <h4 class="sous_text">Les prédictions d’ÉGOUT QUÉBEC sont déterminées grâce à une intelligence artificielle qui calcule 
                  la probabilité que 
                  l’égout déborde en fonction de sa position, son historique de débordement ainsi que la quantité de pluie attendue. Sed</h4>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box mt-5 mx-auto">
                <%= image_tag("icone2.png", alt: "Icone 2") %>
                <h3 class="sous_titre"s>AVANTAGES</h3>
                <h4 class="sous_text">Les analyses et prédictions d’ÉGOUT QUÉBEC permettent à la ville de mieux concentrer ses 
                  ressources sur les zones à risque.
                  De cette façon, le système est constamment amélioré et la fréquence de débordement tend à diminuer.</h4>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 text-center">
              <div class="service-box mt-5 mx-auto">
                <%=  image_tag("icone3.png", alt: "Icone 3") %>
                <h3 class="sous_titre">SOURCES</></h3>
                <h4 class="sous_text">ÉGOUT QUÉBEC utilise les données en libre accès disponibles sur le
                  portail https://www.donneesquebec.ca/fr/ nous y avons pris les jeux de données suivants 
                  : Débordement - Liste des ouvrages de surverses - Localisation des pluviomètres</h4>
                </div>
            </div>

          </div>
      </div>

    </section>