<section id="propo" class="text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 mx-auto">
            <h1 id="propos_text">ABOUT</h1>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">    
            <div class="col-lg-4 col-md-4 text-center">
              
              <div class="service-box mt-5 mx-auto">
                <%=  image_tag("icone1.png", alt: "Icone 1", class: "img-fluid") %>
                <h2 class="sous_titre">HOW IT WORKS?</h2>
                <h3 class="sous_text">The artificial intelligence use a predictive model and multiple data points to give insight about the occurence of an overflow event. </h3>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box mt-5 mx-auto">
                <%= image_tag("icone2.png", alt: "Icone 2") %>
                <h2 class="sous_titre">IN THE CITY</h2>
                <h3 class="sous_text">The insights of EGC-Labs artificial intelligence help the city optimize ressources to reduce or mitigate the consequences of overflow events. Using our insights will help the different actors to improve the sewers systems and reduce the occurence of overflow in the long run.</h3>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 text-center">
              <div class="service-box mt-5 mx-auto">
                <%=  image_tag("icone3.png", alt: "Icone 3") %>
                <h2 class="sous_titre">OUR TECHNOLOGY</></h2>
                <h3 class="sous_text">EGC-Labs use a custom artificial intelligence trained on the historical overflow data and other data points to give insights to end-users.</h3>
                </div>
            </div>

          </div>
      </div>

    </section>