<nav class="navbar navbar-dark bg-dark">
  <!-- Just an image -->
  <a class="navbar-brand" href="#">
    <img src="/assets/brand.png" width="30" height="30" alt="">
  </a>

</nav>

<div id="map">
  <%=
    map(:center => {
      :latlng => [45.5991, -73.7279],
      :zoom => 10
    },

    :markers => [
     {
       :latlng => [45.6653806815436,-73.4646540034421],
       :popup => "Hello!",
       :radius => 100
     }
  ])
    
  %>
</div>