<nav class="navbar navbar-dark bg-dark">
  <!-- Just an image -->
  <a class="navbar-brand" href="#">
    <img src="/assets/brand.png" width="30" height="30" alt="">
  </a>

</nav>

<div id='map'>
	
	
</div>